html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

li:last-child {
  margin-right: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.flexbox {
  display: flex;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.body {
  margin: 0;
  background-color: #FFFFFF;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.logo {
  margin-right: 0;
  color: #000000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

@media (min-width: 768px) {
  .logo {
    margin-right: 70px;
  }
}

@media (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
  }
}

.logo--accent {
  color: #2196F3;
}

.page-header {
  position: relative;
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: #FFFFFF;
}

.page-header--border {
  border-bottom: 2px solid #ECECEC;
}

.btn {
  justify-content: center;
  margin-bottom: 50px;
  margin-bottom: 0;
}

.btn__flexbox {
  display: flex;
}

@media (max-width: 480px) {
  .btn__flexbox {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.btn-flex__item {
  margin-right: 8px;
}

@media (max-width: 480px) {
  .btn-flex__item:nth-child(-n + 3) {
    margin-bottom: 10px;
  }
}

.button {
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;
  background-color: #2196F3;
  color: #ffffff;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.button.primary:not(:last-child) {
  margin-right: 8px;
}

.btn .button.primary {
  padding: 6px 22px;
  background-color: #F5F4FA;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn .button.primary:hover,
.btn .button.primary:focus {
  background-color: #2196F3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__btn.primary {
  display: flex;
  justify-content: center;
  margin-right: 0;
  width: 200px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 450px;
  min-height: 609px;
  background: #FFFFFF;
  border-radius: 4px;
}

@media (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__button-close {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline-color: transparent;
  cursor: pointer;
}

.modal__close-icon {
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-icon:hover,
.modal__close-icon:focus {
  fill: #2196F3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover,
.menu-button:focus {
  fill: #2196F3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 319px) and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 20px;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

@media screen and (min-width: 319px) and (max-width: 767px) {
  .site-nav.list {
    display: none;
  }
}

@media screen and (min-width: 319px) and (max-width: 767px) {
  .contacts-item {
    display: none;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.site-nav {
  display: flex;
}

.menu-container .menu-nav {
  margin-bottom: 60px;
}

@media screen and (min-width: 319px) and (max-width: 767px) {
  .contact__item {
    margin-bottom: 16px;
  }
}

@media (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 0;
}

@media screen and (min-width: 319px) and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .site-nav__link:hover,
.site-nav .site-nav__link:focus {
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .site-nav__link.current {
  color: #2196F3;
}

.menu-nav .site-nav__link:hover,
.menu-nav .site-nav__link:focus {
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav .site-nav__link.current {
  color: #2196F3;
}

.site-nav__border {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .current::after {
    bottom: -39px;
  }
}

@media (min-width: 1200px) {
  .current::after {
    bottom: -32px;
  }
}

.contacts-item {
  margin-left: auto;
}

@media (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: baseline;
  }
}

.contacts__link {
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  align-items: center;
  justify-content: center;
}

.contacts__link:hover,
.contacts__link:focus {
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-container .contact-icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon:hover .contact-icon,
.contacts__icon:focus .contact-icon {
  fill: #2196F3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/studio/hero-mobile@1x.png);
  background-image: -webkit-image-set(url(../images/mobile/studio/hero-mobile@2x.png) 2x);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

@media (min-width: 768px) {
  .hero {
    background-image: url(../images/tablet/studio/hero-tablet@1x.png);
    background-image: -webkit-image-set(url(../images/tablet/studio/hero-tablet@2x.png) 2x);
  }
}

@media (min-width: 1200px) {
  .hero {
    background-image: url(../images/desktop/studio/hero-desktop@1x.png);
    background-image: -webkit-image-set(url(../images/desktop/studio/hero-desktop@2x.png) 2x);
    height: 600px;
  }
}

.hero-wrap {
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .hero-wrap {
    max-width: 696px;
  }
}

.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-btn {
  padding-top: 94px;
  padding-bottom: 0;
}

.section.no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

@media (max-width: 480px) {
  .section.no-padding {
    display: none;
  }
}

@media (max-width: 768px) {
  .section.no-padding {
    display: none;
  }
}

.section__title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
}

.entry-title {
  display: none;
}

.proff__content-box:not(:last-child) {
  margin-right: 30px;
}

.list__prioritet {
  width: 100%;
}

@media (min-width: 768px) {
  .list__prioritet {
    width: calc((100% - 30px) / 2);
  }
}

@media (min-width: 1200px) {
  .list__prioritet {
    width: 270px;
  }
}

@media (min-width: 768px) {
  .prioritet__flexbox {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .prioritet__flexbox {
    display: flex;
  }
}

.list .list__prioritet::before {
  display: block;
  content: '';
  height: 120px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.list--icon-antenna::before {
  background-image: url(../images/icons/i-antenna.svg);
}

.list--icon-clock::before {
  background-image: url(../images/icons/i-clock.svg);
}

.list--icon-diagram::before {
  background-image: url(../images/icons/i-diagram.svg);
}

.list--icon-astronaut::before {
  background-image: url(../images/icons/i-astronaut.svg);
}

.list .content-box {
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 480px) {
  .list .content-box:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .list .content-box:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  .list .content-box:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .list .content-box:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .list.content-box {
    margin-bottom: 0;
  }
}

.list .list__text {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 480px) {
  .list .list__title {
    text-align: center;
  }
}

.list__thumb {
  position: relative;
}

.list__thumb > .list__label {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  background-color: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
}

.list__comands {
  background-color: #FFFFFF;
  max-width: 450px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .list__comands {
    max-width: 354px;
    width: calc((100% - 30px * 1) / 2);
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .list__comands {
    max-width: 270px;
  }
}

@media (min-width: 768px) {
  .comand__flexbox {
    display: flex;
    flex-wrap: wrap;
  }
}

.list__title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list__staff-title {
  color: #212121;
  margin-bottom: 13px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media (min-width: 1200px) {
  .list__staff-title {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

.staff__social-icons {
  justify-content: center;
}

.social-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.staff__social-icons--item:not(:last-child) {
  margin-right: 10px;
}

.staff__social-icons--link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.staff__social-icons--link:hover,
.staff__social-icons--link:focus {
  background-color: #2196F3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.staff__social-icons--link:hover .social-icon,
.staff__social-icons--link:focus .social-icon {
  fill: #FFFFFF;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__title {
  color: #212121;
  margin-top: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 2.00;
  letter-spacing: 0.06em;
}

.list__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.staff__text {
  color: #757575;
  text-align: center;
  margin-top: 0;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.clients-icon-list {
  display: flex;
  flex-wrap: wrap;
}

.clients__item {
  width: calc((100% - 30px * 1) / 2);
  margin-right: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .clients__item:nth-child(2n) {
    margin-right: 0;
  }
  .clients__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .clients__item {
    width: calc((100% - 30px * 2) / 3);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item:nth-child(3n) {
    margin-right: 0;
  }
  .clients__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 30px * 5) / 6);
    margin-bottom: 0;
  }
  .clients__item:last-child {
    margin-right: 0;
  }
}

.clients__link {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196F3;
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover .clients__icon {
  fill: #2196F3;
}

@media (min-width: 768px) {
  .project__flexbox {
    display: flex;
    flex-wrap: wrap;
  }
}

.projects {
  margin: 12px 24px;
}

.list-projects__element {
  max-width: 450px;
  margin-bottom: 30px;
  background-color: #fff;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-projects__element {
    max-width: 354px;
    width: calc((100% - 30px * 1) / 2);
    margin-right: 30px;
  }
  .list-projects__element:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .list-projects__element {
    max-width: 370px;
    width: calc((100% - 30px * 2) / 3);
    margin-right: 30px;
    margin-bottom: 50px;
  }
  .list-projects__element:nth-child(3n) {
    margin-right: 0;
  }
}

.list-projects__element:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__text {
  color: #757575;
  margin-top: 0;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.box {
  position: relative;
  max-width: 450px;
  height: 294px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .box {
    max-width: 354px;
  }
}

@media (min-width: 1200px) {
  .box {
    max-width: 370px;
  }
}

.box:hover .box__overlay {
  transform: translatey(0);
}

.box__overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box__text-overlay {
  color: #FFFFFF;
  margin: 0;
  padding-top: 63px;
  padding-right: 15px;
  padding-bottom: 63px;
  padding-left: 33px;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .footer {
    display: flex;
  }
}

@media (min-width: 768px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.footer-widget:not(:last-child) {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .footer-widget:not(:last-child) {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .footer-widget:not(:last-child) {
    width: calc((50% - 45px) / 2);
  }
}

.footer-widget:last-child {
  width: 100%;
}

@media (min-width: 1200px) {
  .footer-widget:last-child {
    width: calc(50% - 15px);
  }
}

.address-logo .logo {
  margin-right: 0;
}

@media (min-width: 1200px) {
  .address-logo .logo {
    margin-right: 93px;
  }
}

.footer .address-logo {
  width: 230px;
  padding: 0;
  font-size: 14px;
}

@media (min-width: 480px) {
  .footer .address-logo {
    padding-bottom: 60px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .footer .address-logo {
    width: 230px;
    padding: 0;
    margin-right: 70px;
    font-size: 14px;
  }
}

.common {
  display: block;
  padding: 0;
}

@media (min-width: 480px) {
  .footer .common-box {
    width: 100%;
  }
}

.common__item-list {
  display: flex;
  justify-content: center;
}

@media (min-width: 1200px) {
  .common__item-list {
    justify-content: flex-start;
  }
}

.common__title {
  color: #FFFFFF;
  margin-top: 0px;
}

.common__item:not(:last-child) {
  margin-right: 10px;
}

.common__icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.common__icon-link:hover,
.common__icon-link:focus {
  background-color: #2196F3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.common__icon {
  fill: #FFFFFF;
}

.address {
  margin-top: 20px;
  color: #FFFFFF;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-bottom: 8px;
}

.logo--white {
  color: #FFFFFF;
}

@media (min-width: 480px) {
  .form-section {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .form-section {
    margin-left: 93px;
  }
}

@media (min-width: 768px) {
  .form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .form-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form-footer__field {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  max-width: 450px;
  width: 100%;
  border: 1px solid rgba(190, 172, 172, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 12px;
  height: 50px;
}

@media screen and (max-width: 1199px) {
  .form-footer__field {
    margin-bottom: 20px;
  }
}

@media (min-width: 480px) {
  .form-footer__btn {
    display: flex;
    justify-content: center;
  }
}

.form-footer__button {
  display: inline-flex;
}

@media (min-width: 1200px) {
  .form-footer__button {
    margin-left: 12px;
  }
}

.form-footer__icon {
  margin-left: 10px;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

textarea {
  resize: none;
}

.form-modal {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

@media (min-width: 1200px) {
  .form-modal {
    width: 528px;
  }
}

.form-modal__field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form-modal__label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-modal__field input {
  margin: 0;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-modal__field input:focus {
  outline-color: #2196F3;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__field label {
  margin-bottom: 4px;
}

.form-modal__field textarea {
  margin: 0;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-modal__field textarea:focus {
  outline-color: #2196F3;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__textarea {
  height: 120px;
}

.form-modal__textarea::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__field {
  position: relative;
}

.form-modal__icon {
  position: absolute;
  top: 50%;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  display: inline-block;
  margin: 10px 12px;
  padding: 0;
}

.form-modal__input:not(:placeholder-shown):focus:valid ~ .form-modal__icon {
  outline-color: #2196F3;
  fill: #2196F3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__input {
  height: 40px;
  padding: 0;
}

.checkbox-label {
  width: 100%;
  display: block;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #757575;
}

.checkbox-text {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media (min-width: 1200px) {
  .checkbox-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox-text::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 5px;
  vertical-align: middle;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .checkbox-text::before {
    margin-right: 8px;
  }
}

.checkbox:checked + .checkbox-text::before {
  background-color: #2196F3;
  border-color: #2196F3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-image: url(../images/icons/vector.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox-label-link {
  color: #2196F3;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media (min-width: 1200px) {
  .checkbox-label-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-modal__button {
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #2196F3;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 55px;
  cursor: pointer;
}

@media (min-width: 480px) {
  .modal__btn {
    display: flex;
    justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */