.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    overflow-y: scroll;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 450px;
    min-height: 609px;
    
    @include for-size(desktop) {
        min-width: 528px;
        min-height: 581px;
    }

    background: #FFFFFF;      
    border-radius: 4px; 
}

.modal__button-close {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 8px;
    
    width: 30px;
    height: 30px;
    background-color: transparent;

    border-radius: 50%;
    border: 1px solid rgba(33, 33, 33, 0.2);

    outline-color: transparent;

    cursor: pointer;
}

.modal__close-icon {
    fill: $primary-text-color;
    transition: $transition-fill;
}

.modal__close-icon:hover,
.modal__close-icon:focus {    
    fill: $accent-text-color;
    transition: $transition-fill;   
}