.project__flexbox {

    @include for-size(tablet) {
        display: flex;
        flex-wrap: wrap;
    }
}

.projects {
    margin: 12px 24px;
}

.list-projects__element {
    max-width: 450px;
    margin-bottom: 30px;
    background-color: #fff;
    
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            max-width: 354px;
            width: calc((100% - 30px * 1) / 2); 
            margin-right: 30px;

            &:nth-child(2n) {
                margin-right: 0;
            }
        }

        @include for-size(desktop) {
            max-width: 370px;
            width: calc((100% - 30px * 2) / 3); 
            margin-right: 30px;
            margin-bottom: 50px;

            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }

// .list-projects__element:nth-last-child(-n + 3) {
//     margin-bottom: 0;
// }

// .list-projects__element:nth-child(3n + 1) {
//     margin-right: 0px;
// }

.list-projects__element:hover {    
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__text {
    color: $primary-text-color;
    margin-top: 0;

    font-family: Roboto;    
    font-size: 16px;
    line-height: 1.87;    
    letter-spacing: 0.03em; 
}

.box {
    position: relative;
    max-width: 450px;
    height: 294px;
    overflow: hidden;

    @include for-size(tablet) {
        max-width: 354px;
    }

    @include for-size(desktop) {
        max-width: 370px;
    }
}

.box:hover .box__overlay {
    transform: translatey(0);
}

.box__overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box__text-overlay {
    color: $hero-text-color;
    margin: 0;
    padding-top: 63px;
    padding-right: 15px;
    padding-bottom: 63px;
    padding-left: 33px;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}
